* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: acntialiased;
  font-family: "Raleway-regular";
  font-size: 16px;
  list-style: 28px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 50px auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 1fr 4fr 1.2fr 1.2fr;

  grid-template-areas:
    "logo    logo    header"
    "main    main    imgbox"
    "quotes  quotes  imgbox"
    "btn1  btn2   imgbox";
}

.logo {
  grid-area: logo;
  background-color: rgb(11, 80, 11);

  display: flex;
  align-items: center;
}
.logo img {
  width: 60px;
}
.main {
  grid-area: main;
  background-color: rgb(134, 197, 134);

  padding: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main h1 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin-bottom: 30px;
}

.img-box {
  grid-area: imgbox;
  overflow: hidden;
  background-size: cover;
}

.quotes {
  grid-area: quotes;
  background-color: beige;
  padding-left: 105px;
  display: flex;
  align-items: center;
}
.quotes-h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}
.header {
  grid-area: header;
  background-color: rgb(134, 197, 134);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header ul li a {
  padding: 30px 15px;
  font-weight: 700;
  font-size: 20px;
  color: black;
}
.btn1 {
  grid-area: btn1;
  background-color: rgb(11, 80, 11);
}
.btn a {
  color: white;
  font-size: 24px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  grid-area: btn2;
  background-color: rgb(83, 170, 83);
}

/*media query starts here*/
@media (max-width: 767px) {
  .container {
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo logo"
      "header header"
      "imgbox imgbox"
      "main main"
      "quotes quotes"
      "btn1 btn2";
    grid-template-rows: 100px 50px 25vh auto auto 70px;
  }
  .logo {
    padding-left: 0;
    justify-content: center;
  }
  .main {
    padding: 10px;
    justify-content: center;
  }
  .main h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .quotes {
    padding: 20px 10px;
  }
  .quotes h2 {
    font-size: 15px;
    line-height: 28px;
  }
  .btn a {
    font-size: 18px;
  }
  header {
    padding-right: 0;
    justify-content: center;
  }
}

@media (min-width: 768) and (max-width: 950px) {
  .logo,
  .main,
  .quotes {
    padding-left: 25px;
  }
}
